.resume__header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 1rem;
  color: #fff;
  max-height: 24%;

  &__personal {
    h1 {
      margin: 0px;
      padding: 0px;
      font-size: 3rem;

      .first-name {
        color: coral;
      }
    }
  }

  &__address {
    margin-top: 2rem;
    p {
      font-weight: 300;
    }
  }

  &__email {
    line-height: 1.3rem;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
